@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 206 20% 16%;
  --secondary: 210 19% 22%;
  --accent: 197 70% 24%;
  --muted: 190 12% 43%;
  --background: 132 8% 84%;
  --foreground: 206 20% 16%;
}

.main-container {
  min-height: calc(100vh - 160px);
}

/* Custom styles for the carousel */
.slick-dots li button:before {
  color: #748d92 !important;
}

.slick-dots li.slick-active button:before {
  color: #124e66 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #124e66 !important;
}

.slick-prev {
  left: 25px !important;
  z-index: 10;
}

.slick-next {
  right: 25px !important;
  z-index: 10;
}
